body {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  display: flex;
  width: 100%;
  height: 100vh;
  background: radial-gradient(rgb(26, 26, 26), rgb(78, 78, 78));
  overflow-x: hidden;
}

#container {
  margin: auto;
  display: flex;
  /* border: 2px solid pink; */
  justify-content: center;
  align-items: center;
  gap: 2em;
}

#board {
  background-image: url("./img/flappybirdbg.png");
  background-size: cover;
}

button {
  width: max-content;
  height: max-content;
  padding: .8em 1.5em;
  background: #fff;
  border-radius: .2em;
  font-weight: 500;
  font-family: monospace;
  cursor: pointer;
  transition: .3s;
  border: transparent;
  outline: transparent;
}

#kebal {
  box-shadow: 0 5px rgb(224, 43, 43);
}

#plus {
  box-shadow: 0 5px rgb(43, 224, 149);
}

button:focus {
  border: transparent;
  outline: transparent;
}

button:active {
  color: #fff;
  box-shadow: 0;
  transform: translateY(5px);
  box-shadow: 0 0 transparent;
}
#plus:active {
  background: rgb(43, 224, 149);
}

#kebal:has(input[type="radio"]:checked) {
  color: #fff;
  box-shadow: 0;
  transform: translateY(5px);
  box-shadow: 0 0 transparent;
}

#kebal:has(input[type="radio"]:checked) {
  background-color: rgb(224, 43, 43);
}

button input
{
  display: none;
}


@media (max-width: 428px) {
  #container {
    flex-direction: column;
  }
}